.env
.venv
.idea
.vscode

__pycache__
*.pyc

docker/cache
docker/db
docker/node_modules
docker/static

.nuxt
ui/.output
ui/.yarn/*
ui/.pnp.cjs
ui/.pnp.loader.mjs
!ui/.yarn/patches
!ui/.yarn/plugins
!ui/.yarn/releases
!ui/.yarn/sdks
!ui/.yarn/versions
api/static/
api/beat.pid
