* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $fontSize;
}

body {
  background-color: $bodyBgColor;
}

a {
    text-decoration: none;
    color: $primaryColor;
}

.layout-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

