.layout-sidebar {
	//position: fixed;
	//width: 250px;
	//height: 100%;
	transition: transform ease-in $transitionDuration;

  &.layout-sidebar-enter-active,
  &.layout-sidebar-leave-active {
    transition: transform ease-in 5s;
  }

	&.layout-sidebar-enter-from,
	&.layout-sidebar-leave-to {
		transform: translateX(-100%);
	}
}
