.layout-topbar {
    position: fixed;
    height: 50px;
    //padding: 1em 2em 0 2em;
    color: #888888;
    background-color: $bodyBgColor;
    z-index: 999;
    right: 0;
    @apply border-b-2 border-gray-200;
    //@include clearfix();
    //@include linear-gradient-left($topbarLeftBgColor,$topbarRightBgColor);

    transition: left ease-in $transitionDuration;

    button {
        cursor: pointer;
    }

    .layout-topbar-icons {
        float: right;
        display: block;
        animation-duration: .5s;

        button {
            position: relative;
            color: $topbarItemColor;
            margin-left: 20px;
            display: inline-block;
            text-decoration: none;
            transition: color $transitionDuration;

            &:hover {
                color: $topbarItemHoverColor;
            }

            &:focus {
                @include focused();
            }

            span {
                &.layout-topbar-icon {
                    font-size: 1.5em;
                }

                &.layout-topbar-item-text {
                    font-size: 20px;
                    display: none;
                }

                &.layout-topbar-badge {
                    position: absolute;
                    font-size: 10px;
                    right: -5px;
                    top: -5px;
                    width: 16px;
                    height: 16px;
                    text-align: center;
                    line-height: 16px;
                    color: $topbarItemBadgeColor;
                    background-color: $topbarItemBadgeBgColor;
                    border-radius: 50%;
                }
            }
        }

    }
}
