casparser[mupdf]==0.4.6
celery==5.0.5
Django==3.1.7
django-celery-beat==2.2.0
django-click==2.2.0
django-environ==0.4.5
django-import-export==2.5.0
django-redis==4.12.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
lxml
numpy
pandas
psycopg2
python-dateutil==2.8.1
quandl==3.6.1
redis==3.5.3
requests==2.25.1
tablib[pandas]==3.0.0
xirr==0.1.6
