casparser[mupdf]==0.3.5
celery==5.0.2
Django==3.1.3
-e git+https://github.com/celery/django-celery-beat.git#egg=django_celery_beat
django-click==2.2.0
django-environ==0.4.5
django-import-export==2.4.0
django-redis==4.12.1
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
fuzzywuzzy[speedup]==0.18.0
lxml==4.6.2
numpy==1.19.4
pandas==1.1.4
psycopg2-binary==2.8.6
python-dateutil==2.8.1
quandl==3.5.3
redis==3.5.3
requests==2.25.0
tablib[pandas]==2.0.0