# Create a copy of this file as ".env" and update the following settings
DEBUG=off
SECRET_KEY='%k8!x4pm=mf!iqz^jws)ijn=)-md-uf_i=^mya1t*d!4f#^74k'
DATABASE_URL=psql://postgres:foliop4sswd@timedb:5432/folioman
CACHE_URL=rediscache://cache:6379/1?client_class=django_redis.client.DefaultClient&timeout=86400
CELERY_BROKER_URL=redis://cache:6379/3
CELERY_RESULT_BACKEND=redis://cache:6379/5

# Uncomment and update the following variable to enable sentry logging support.
# SENTRY_DSN="https://projectcode@sentry.example.com/pid"

ENVIRONMENT="dev"